rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /plant/{plantId}/detections/{detectionId} {
      allow read: if true;
      allow delete: if isSignedIn();
      allow create, update: if false;
    }

    match /plants/{plantId}/detections/{detectionId} {
      allow read: if true;
      allow delete: if isSignedIn();
      allow create, update: if false;
    }

    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
